/* Sticky footer */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#mainWrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -90px;
    /* Pad bottom by footer height */
    padding: 0 0 90px;
}

/* Set the fixed height of the footer here */
footer {
    height: 90px;
    background-color: #FFFFFF;
    /*font-size: 12px;
    line-height: 1.357em;*/
    border-top: 1px solid #ddd;
}

footer > .container > p {
    padding-top: 18px;
}

footer > .container > p > a {
    color: rgb(128, 128, 128);
    font-weight: bold;
}

footer > .container > p > a:hover {
    text-decoration: none;
    padding-bottom: 2px;
}

footer em {
    font-family: Georgia;
}
